<div class="no-scroll">
  <div class="background"></div>
  <div class="overlay"></div>

  <div class="container">
    <div class="hello">
      <!-- <img src="/assets/R.png" width="300px" alt="" /> -->
      <h2 class="subtitle">Bienvenido a</h2>
      <h1>Sistema de Gestión de Clientes</h1>
      <h2 >La pagina privada de la empresa COMPANY</h2>

      <div class="text">
        <p>
          Este sitio es solamente para miembros de la empresa, creado a partir
          de sus necesiades y preferencias. La misión de este sistema es
          automatizar las operaciones internas con el control de clientes,
          permitiendo revisar los datos, agregar, editar y eliminar. Solo los
          miembros de la oficina de trabajo directo con el cliente tienen acceso
          a todas las funcionalidades del sitio, mientras que los demás usuarios
          solo tienen acceso a comprobar la informacion
        </p>
      </div>

      <a
      class="start-button font-bold w-max"
      routerLink="/logIn"
    >
      Empezar
    </a>
    </div>
  </div>
</div>
