<div class="no-scroll">
  <div class="background"></div>
  <div class="overlay"></div>

  <div class="container">
    <div class="hello">
      <!-- <img src="/assets/R.png" width="300px" alt="" /> -->
      <h2 class="subtitle">Welocme to</h2>
      <h1>Customer Management System</h1>
      <h2 >The private page of the company COMPANY</h2>

      <div class="text">
        <p>
          This site is only for company members, created based on their needs and preferences. The mission of this system is to automate internal operations with customer control, allowing data review, addition, editing and deletion. Only members of the office working directly with the client have access to all the functionalities of the site, while other users only have access to check the information.
        </p>
      </div>

      <a
      class="start-button font-bold w-max"
      routerLink="/logIn"
    >
      Start
    </a>
    </div>
  </div>
</div>
