
  <div class="flex flex-column gap-2">
    <div class="flex gap-4 flex-wrap">
      @for (c of customers; track c.id){
      <p-card
        header="ID:{{ c.id }}"
        subheader="Email: {{ c.email }}"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            height="300px"
            [src]="c.image ? c.image.imageUrl : '/assets/default.png'"
          />
        </ng-template>
        <p>Nombre y apellidos: {{ c.firstName }} {{ c.lastName }}</p>

        <ng-template pTemplate="footer">
          <div class="flex gap-1 mt-1">
            <p-button
              (onClick)="deleteCustomer(c.id)"
              label="Borrar"
              severity="secondary"
            />
            <a
              routerLink="customer-form/{{ c.id }}"
              class="p-button font-bold"
            >
              Editar
            </a>
          </div>
        </ng-template>
      </p-card>
      }@empty {
      <h2>No existen clientes</h2>
      }
    </div>

    <a
      routerLink="customer-form/new"
      class="guardar p-button font-bold w-max"
    >
      Crear nuevo cliente
    </a>
  </div>


