.guardar {
    margin: 30px 30px;
}


p-card{

    margin-left: 10px;
    border: 2px solid black;
    border-radius: 1.5%;
}



p-card img{
    border-bottom: 2px solid black;
    border-radius: 2%;
}

body{
    display: flex;
    align-items: center;
}

.flex{
    padding: 20px;
}

