<app-navbar></app-navbar>

<div class="container flex flex-column gap-2">
  <div class="sub-container flex gap-4 flex-wrap">
    @for (c of customers; track c.id){
    <p-card
      header="ID:{{ c.id }}"
      subheader="Email: {{ c.email }}"
      [style]="{ width: '360px' }"
      class="custom-card"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          height="300px"
          [src]="c.image ? c.image.imageUrl : '/assets/default.png'"
          class="card-image"
        />
      </ng-template>
      <p>Nombre y apellidos: {{ c.firstName }} {{ c.lastName }}</p>
      <ng-template pTemplate="footer">
        <div class="flex gap-1 mt-1">
          <p-button
            (onClick)="deleteCustomer(c.id)"
            label="Borrar"
            class="button-cancel"
          />
          <a
            routerLink="/customer-form/{{ c.id }}"
            class="custom-link button-edit p-button font-bold"
          >
            Editar
          </a>
        </div>
      </ng-template>
    </p-card>

    }@empty {
    <h2>No existen clientes</h2>
    }
  </div>
</div>
