<div class="wrapper mt-8">
  <div class="body">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <img class="" src="/assets/R.png" width="250px" alt="">
      <h2>Inicio de sesion</h2>
      <div class="form-floating mb-3">
        <input type="name" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="userName">
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary"
        type="submit" [disabled]="loginForm.invalid" >Button</button>
      </div>
      <!-- <div>
        <p class="mt-3">No tengo cuenta?
          <a routerLink="/signIn">Registrarme</a>
        </p>
      </div> -->
    </form>
  </div>
</div>
