/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

a{
    text-decoration: none;
}




main{
    width: 100%;
}

  app-root{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  html, body{
    height: 100%;
  }

  body{
    background-color: #F0F2F5 !important;
  }
