/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

a{
    text-decoration: none;
}

/* header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0 20px 50px;
  background-color: #62ca65;
}

  header h1 {
  font-size: 40px;
  color: #FFFFFF;
} */

.navbar{
  background-color: #62ca65 !important;

  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.navbar .title{
  font-weight: bold;
  font-size: 40px;
}
.navbar a{
  font-size: 30px;
  color: #FFFFFF;
}

.navbar .container{
  width: 100%;
  margin: 0 !important;
}


main{
    width: 100%;
    height: 100%;
}

  app-root{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
  }

  html, body{
    height: 100%;
  }

  body{
    display: flex;
    flex-direction: column;
    background-color: #F0F2F5 !important;
  }
